@model IEnumerable<n01397767_Assignment3_CumlativeProject.Models.ClassDetail>
@{
    ViewBag.Title = "List";
}

<h2>Details of classes</h2>
<table border="1">
    <tr>
        <th style="padding:0.5em">Class Code</th>
        <th style="padding:0.5em">Class Name</th>
        <th style="padding:0.5em">Start Date</th>
        <th style="padding:0.5em">Finish Date</th>
        <th style="padding:0.5em">Teacher Name</th>
    </tr>
    @foreach (var detail in Model)
    {
    <tr>
        <td style="padding:0.5em;">@detail.classCode</td>
        <td style="padding:0.5em;">@detail.className</td>
        <td style="padding:0.5em;">@detail.startDate</td>
        <td style="padding:0.5em;">@detail.FinishDate</td>
        <td style="padding:0.5em;">@detail.teacherFName @detail.teacherlName </td>
    </tr>
    }
</table>

