@model n01397767_Assignment3_CumlativeProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}



<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>Salary : @Model.TeacherSalary</p>
<p>Joining Date : @Model.TeacherHireDate</p>
<h3 style="
    color:brown">Courses Assigned :</h3>
@foreach (var course in Model.TeacherCourse)
{
    <p>@course</p>
}
<a style="color:mediumvioletred" href="/Teacher/List">Go back</a>
